html {
  font-size: 100%; /* Sets up the Base 16 stuff */
  //font-size: 62.5%; /* Sets up the Base 10 stuff */
}

body {
  background-color: #1b1e21;
  min-height: 100vh;
  width: 100%;
}

.carousel-title {
  width: 100%;
  min-height: 100vh;
  background-color: #0d0d0d;

  .owl-carousel {
    .owl-stage {
      height: 100%;

      .owl-item {
        height: 100%;
        display: flex;
        transition: all .3s ease;
        padding: 30px 0;

        &.center {
          //transform: scale(1.5);
          //transition-delay: 2.5s;
        }

        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .our-clients {
    background-color: #242424;
    height: 160px;
    width: 100%;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.35);
    overflow: hidden;
    transition: all .3s ease;

    .client {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      left: 0;
      margin: auto 37px;
      transition: all .3s ease;
      height: 100%;
    }
  }
}