.photo-gallery {
  width: 100%;
  padding: 0 15px;
  height: auto;
}
@media (min-width: 768px) {
  .photo-gallery {
    padding: 0;
  }
}
.photo-gallery .work-container {
  height: 380px;
  width: 100%;
  transition: all 1s ease;
  position: relative;
  margin-bottom: 15px;
}
.photo-gallery .work-container__background {
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.photo-gallery .work-container.vertical {
  height: 710px;
}
.photo-gallery .work-container.horizontal {
  width: 100%;
}
.photo-gallery .work-container img.bg {
  height: 100%;
  width: auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%) scale(1.1);
}
@media (min-width: 446px) {
  .photo-gallery .work-container img.bg {
    height: auto;
    width: 100%;
  }
}
.photo-gallery .work-container img.logo {
  opacity: 0.75;
  max-width: 80%;
}
.photo-gallery .work-container:hover {
  cursor: pointer;
}
.photo-gallery .work-container .layer-1 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
.photo-gallery .work-container .layer-1__overlay {
  height: 100%;
  width: 100%;
  transition: all 1s ease;
}
.photo-gallery .work-container .layer-1__overlay--overlay {
  background-color: rgba(0, 19, 27, 0.7);
}
.photo-gallery .work-container .layer-1__overlay .item {
  transition: all 1s;
}
.photo-gallery .work-container .layer-1__overlay .item--hidden {
  opacity: 0;
  transform: scale(0.8);
}
.photo-gallery .work-container .layer-1__overlay .item--img {
  height: 45px;
  width: 45px;
  background-image: url("../img/mouse-ico.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-bottom: 20px;
}
.photo-gallery .work-container .layer-1__overlay .item--text {
  color: #fff;
  font-size: 24px;
  font-family: "Sarabun", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
}
.photo-gallery .work-container .layer-1__overlay:hover .item--hidden {
  opacity: 1;
  transform: scale(1);
}
.photo-gallery .work-container .layer-1__overlay:hover {
  background-color: rgba(0, 0, 0, 0.75);
  background-image: radial-gradient(circle, rgba(14, 89, 85, 0.77), rgba(12, 35, 59, 0.77));
  transition: all 1s ease;
}

@media (min-width: 576px) {
  .photo-gallery-1--columns .work-container {
    height: auto;
    width: 50%;
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  .photo-gallery-1--columns .work-container {
    width: 33.333%;
  }
}
.photo-gallery-1--margin .work-container {
  padding: 0px;
}
.photo-gallery-1--margin .work-container .layer-1 {
  padding: 0px;
}
.photo-gallery-1--height .work-container {
  height: 500px;
}
.photo-gallery-1--scale-inside .work-container:hover img {
  transition: all 1s ease;
}
.photo-gallery-1--scale-inside .work-container:hover img.bg {
  transform: translateX(-50%) scale(1.2);
}
.photo-gallery-1--scale-inside .work-container:hover img.logo {
  opacity: 1;
  transform: scale(1.2);
}
.photo-gallery-1--scale-inside .work-container:hover .description {
  bottom: 0 !important;
}
.photo-gallery-1--scale-outside .work-container:hover {
  z-index: 15;
}
.photo-gallery-1--scale-outside .work-container:hover .work-container__background {
  transform: scale(1.02);
  transition: all 0.3s ease;
}
.photo-gallery-1--scale-outside .work-container:hover .layer-1__overlay {
  transform: scale(1.02);
  z-index: 99;
  transition: all 0.3s ease;
}
.photo-gallery-1--shadow-sides .work-container:hover .layer-1__overlay {
  box-shadow: -3px 3px 10px 2px rgba(0, 0, 0, 0.65);
}

/*# sourceMappingURL=photo-gallery.css.map */
