@mixin columns($number) {
  @if $number == 1 {
    .work-container {
      @media (min-width: 576px) {
        height: auto;
        padding: 0;
        width: 100%;
        margin-bottom: 0;
      }
    }
  }

  @else if $number == 2 {
    .work-container {
      @media (min-width: 576px) {
        height: auto;
        width: 50%;
        margin-bottom: 0;
      }
    }
  }

  @else if $number == 3 {
    .work-container {
      @media (min-width: 576px) {
        height: auto;
        width: 50%;
        margin-bottom: 0;
      }

      @media (min-width: 768px) {
        width: 33.333%;
      }
    }
  }
}

@mixin shadow-sides($number) {
  @if $number == 1 {
    .work-container {
      &:hover {
        .layer-1 {
          &__overlay {
            box-shadow: -3px 3px 10px 2px rgba(0,0,0, .65);
          }
        }
      }
    }
  }

  @else if $number == 2 {
    .work-container {
      &:nth-child(2n) {
        &:hover {
          .layer-1 {
            &__overlay {
              box-shadow: -3px 3px 10px 2px rgba(0,0,0, .65);
            }
          }
        }
      }

      &:nth-child(2n + 1) {
        &:hover {
          .layer-1 {
            &__overlay {
              box-shadow: 3px 3px 10px 2px rgba(0,0,0, .65);
            }
          }
        }
      }
    }
  }
}

@mixin margin($number) {
  .work-container {
    padding: #{$number}px;

    .layer-1 {
      padding: #{$number}px;
    }
  }
}

@mixin scale-inside($number) {
  &.bg {
    transform: translateX(-50%) scale(#{$number});
  }

  &.logo {
    opacity: 1;
    transform: scale(#{$number});
  }
}

@mixin scale-outside($number) {
  .work-container__background {
    transform: scale(#{$number});
    transition: all .3s ease;
  }

  .layer-1 {
    &__overlay {
      transform: scale(#{$number});
      z-index: 99;
      transition: all .3s ease;
    }
  }
}

@mixin height($number) {
  .work-container {
    height: #{$number}px;
  }
}

.photo-gallery {
  width: 100%;
  padding: 0 15px;
  height: auto;

  @media (min-width: 768px) {
    padding: 0;
  }

  .work-container {
    height: 380px;
    width: 100%;
    transition: all 1s ease;
    position: relative;
    margin-bottom: 15px;

    &__background {
      overflow: hidden;
      height: 100%;
      width: 100%;
    }

    &.vertical {
      height: 710px;
    }

    &.horizontal {
      width: 100%;
    }

    img {

      &.bg {
        height: 100%;
        width: auto;
        position: relative;
        left: 50%;
        transform: translateX(-50%) scale(1.1);

        @media (min-width: 446px) {
          height: auto;
          width: 100%;
        }
      }

      &.logo {
        opacity: .75;
        max-width: 80%;
      }
    }

    &:hover {
      cursor: pointer;
    }

    .layer-1 {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 10;

      &__overlay {
        height: 100%;
        width: 100%;
        transition: all 1s ease;

        &--overlay {
          background-color: rgba(00, 19, 27, .7);
        }

        .item {
          transition: all 1s;

          &--hidden {
            opacity: 0;
            transform: scale(.8);
          }

          &--img {
            height: 45px;
            width: 45px;
            background-image: url("../img/mouse-ico.png");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            margin-bottom: 20px;
          }

          &--text {
            color: #fff;
            font-size: 24px;
            font-family: "Sarabun", sans-serif;
            font-weight: 800;
            text-transform: uppercase;
          }
        }

        &:hover {
          .item--hidden {
            opacity: 1;
            transform: scale(1);
          }
        }

        &:hover {
          background-color: rgba(#000, .75);
          background-image: radial-gradient(circle, rgba(14, 89, 85, .77), rgba(12, 35, 59, .77));
          transition: all 1s ease;
        }
      }
    }
  }
}

//dodatki

.photo-gallery {

  //numer galerii

  &-1 {

    //liczba kolumn

    &--columns {
      @include columns(3); // 1 - 3
    }

    // odstępy pomiędzy zdjęciami

    &--margin {
      @include margin(0); //pixels
    }

    // wysokość {

    &--height {
      @include height(500); //pixels
    }

    //animacje

    &--scale {
      &-inside {
        .work-container {
          &:hover {

            img {
              @include scale-inside(1.2);
              transition: all 1s ease;
            }

            .description {
              bottom: 0 !important;
            }
          }
        }
      }

      &-outside {
        .work-container {
          &:hover {
            z-index: 15;
            @include scale-outside(1.02);
          }
        }
      }
    }

    //cienie

    &--shadow {
      &-sides {
        @include shadow-sides(1); // 1 - 2
      }
    }
  }
}